@import url('./components/experiences/style.css');
@import url('./components/introduction/style.css');

.home-page {
  & .content-wrapper {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0px auto 160px;
  }

  & .section {
    margin: 0px 20px;

    @media screen and (min-width: 769px) {
      margin: 0px 80px;
    }
  }
}
